###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change_me_to_a_random_32_char_string
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format: mysql://user:password@host:port/dbname?serverVersion=8.0
DATABASE_URL="mysql://skillswap_user:skillswap_password@127.0.0.1:3306/skillswap?serverVersion=8.0&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me_to_secure_passphrase
JWT_TTL=86400
###< lexik/jwt-authentication-bundle ###

###> App custom ###
# Domaine email autorisé (ex: université)
ALLOWED_EMAIL_DOMAIN=
# Laisser vide pour autoriser tous les domaines
MAILER_DSN=null://null
APP_TIMEZONE=Europe/Paris
###< App custom ###
