###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/private.pem
/config/jwt/public.pem
###< lexik/jwt-authentication-bundle ###

###> PHP ###
*.log
*.cache
*.swp
*.swo
*~
###< PHP ###

###> OS ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
###< OS ###

###> IDEs ###
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.settings/
.buildpath
nbproject/
###< IDEs ###

###> Node (si outils front) ###
node_modules/
npm-debug.log
yarn-error.log
###< Node ###
